In [92]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random

In [93]:
df1 = pd.read_csv("data/articles1.csv")
df1.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [94]:
df1.shape

(50000, 10)

In [95]:
df1["publication"].value_counts()

Breitbart           23781
CNN                 11488
New York Times       7803
Business Insider     6757
Atlantic              171
Name: publication, dtype: int64

In [96]:
drop = ['Unnamed: 0', 'id', 'title', 'author', 'date', 'year',
       'month', 'url']

In [97]:
df1 = df1.drop(drop, axis = 1)
df1

          publication                                            content
0      New York Times  WASHINGTON  —   Congressional Republicans have...
1      New York Times  After the bullet shells get counted, the blood...
2      New York Times  When Walt Disney’s “Bambi” opened in 1942, cri...
3      New York Times  Death may be the great equalizer, but it isn’t...
4      New York Times  SEOUL, South Korea  —   North Korea’s leader, ...
...               ...                                                ...
49995        Atlantic  As chairman and CEO of ExxonMobil, Rex Tillers...
49996        Atlantic  I’ve spent nearly 20 years looking at intellig...
49997        Atlantic    Donald Trump will not be taking necessary st...
49998        Atlantic  Dozens of   colleges could be forced to close ...
49999        Atlantic  The force of gravity can be described using a ...

[50000 rows x 2 columns]

In [98]:
df2 = pd.read_csv("data/articles2.csv")
df2.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,53293,73471,Patriots Day Is Best When It Digs Past the Her...,Atlantic,David Sims,2017-01-11,2017.0,1.0,NaN,"Patriots Day, Peter Berg’s new thriller that r..."
1,53294,73472,A Break in the Search for the Origin of Comple...,Atlantic,Ed Yong,2017-01-11,2017.0,1.0,NaN,"In Norse mythology, humans and our world were ..."
2,53295,73474,Obama’s Ingenious Mention of Atticus Finch,Atlantic,Spencer Kornhaber,2017-01-11,2017.0,1.0,NaN,“If our democracy is to work in this increasin...
3,53296,73475,"Donald Trump Meets, and Assails, the Press",Atlantic,David A. Graham,2017-01-11,2017.0,1.0,NaN,Updated on January 11 at 5:05 p. m. In his fir...
4,53297,73476,Trump: ’I Think’ Hacking Was Russian,Atlantic,Kaveh Waddell,2017-01-11,2017.0,1.0,NaN,Updated at 12:25 p. m. After months of equivoc...

In [99]:
df2.shape

(49999, 10)

In [100]:
df2["publication"].value_counts()

New York Post          17493
Atlantic                7008
National Review         6203
Talking Points Memo     5214
Guardian                4873
Buzzfeed News           4854
Fox News                4354
Name: publication, dtype: int64

In [101]:
df2 = df2.drop(drop, axis = 1)
df2

      publication                                            content
0        Atlantic  Patriots Day, Peter Berg’s new thriller that r...
1        Atlantic  In Norse mythology, humans and our world were ...
2        Atlantic  “If our democracy is to work in this increasin...
3        Atlantic  Updated on January 11 at 5:05 p. m. In his fir...
4        Atlantic  Updated at 12:25 p. m. After months of equivoc...
...           ...                                                ...
49994    Guardian  There have been many proposed solutions to the...
49995    Guardian  Maybe I feel like August won’t let go of me, b...
49996    Guardian  Diana Marcela, 28, has spent 13 years with Far...
49997    Guardian  This Christmas break, for anybody steeped in t...
49998    Guardian  Brian Nesbitt’s therapist made a suggestion in...

[49999 rows x 2 columns]

In [102]:
df3 = pd.read_csv("data/articles3.csv")
df3.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,103459,151908,Alton Sterling’s son: ’Everyone needs to prote...,Guardian,Jessica Glenza,2016-07-13,2016.0,7.0,https://www.theguardian.com/us-news/2016/jul/1...,The son of a Louisiana man whose father was sh...
1,103460,151909,Shakespeare’s first four folios sell at auctio...,Guardian,NaN,2016-05-25,2016.0,5.0,https://www.theguardian.com/culture/2016/may/2...,Copies of William Shakespeare’s first four boo...
2,103461,151910,My grandmother’s death saved me from a life of...,Guardian,Robert Pendry,2016-10-31,2016.0,10.0,https://www.theguardian.com/commentisfree/2016...,"Debt: $20, 000, Source: College, credit cards,..."
3,103462,151911,I feared my life lacked meaning. Cancer pushed...,Guardian,Bradford Frost,2016-11-26,2016.0,11.0,https://www.theguardian.com/commentisfree/2016...,"It was late. I was drunk, nearing my 35th birt..."
4,103463,151912,Texas man serving life sentence innocent of do...,Guardian,NaN,2016-08-20,2016.0,8.0,https://www.theguardian.com/us-news/2016/aug/2...,A central Texas man serving a life sentence fo...

In [103]:
df3.shape

(42571, 10)

In [104]:
df3["publication"].value_counts()

NPR                11992
Washington Post    11114
Reuters            10710
Vox                 4947
Guardian            3808
Name: publication, dtype: int64

In [105]:
df3 = df3.drop(drop, axis = 1)
df3

           publication                                            content
0             Guardian  The son of a Louisiana man whose father was sh...
1             Guardian  Copies of William Shakespeare’s first four boo...
2             Guardian  Debt: $20, 000, Source: College, credit cards,...
3             Guardian  It was late. I was drunk, nearing my 35th birt...
4             Guardian  A central Texas man serving a life sentence fo...
...                ...                                                ...
42566  Washington Post           Uber driver Keith Avila picked up a p...
42567  Washington Post           Crews on Friday continued to search L...
42568  Washington Post       When the Obama administration announced a...
42569  Washington Post       This story has been updated. A new law in...
42570  Washington Post       The nation’s first recreational marijuana...

[42571 rows x 2 columns]

In [106]:
vox = pd.read_pickle("data/vox.pkl")
vox.head()

,0,1,2,3,4,5,6,7,8,9,10,11
3,10,10,2019-05-22 20:10:00,2019,5.0,22,Emily Stewart,“Elizabeth Warren called me!” is turning into ...,Elizabeth Warren is giving people a new reason...,https://www.vox.com/policy-and-politics/2019/5...,NaN,Vox
5,15,15,2016-09-08 15:40:02,2016,9.0,8,Jeff Stein,Nancy Pelosi says a Clinton landslide could pu...,Nancy Pelosi is getting visions of reclaiming ...,https://www.vox.com/2016/9/8/12847958/house-de...,NaN,Vox
9,34,34,2016-10-04 18:00:10,2016,10.0,4,Dara Lind,The most revealing Republican ad of the electi...,The Republican Party characterizes itself as t...,https://www.vox.com/policy-and-politics/2016/1...,NaN,Vox
10,38,38,2017-11-30 20:12:02,2017,11.0,30,David Saad,"Forget Facebook, Amazon or Google. Up-and-comi...","Facebook, Amazon, Netflix and Google — the apt...",https://www.vox.com/2017/11/30/16712284/tech-t...,NaN,Vox
13,46,46,2016-10-05 19:00:10,2016,10.0,5,Tara Golshan,How the Clinton campaign is making #ThatMexica...,Sen. Tim Kaine made a point during the vice pr...,https://www.vox.com/policy-and-politics/2016/1...,NaN,Vox

In [107]:
drop = [0, 1, 2, 3, 4, 5, 6, 7, 9, 10]
vox= vox.drop(drop, axis = 1)
vox.head()

                                                   8    11
3   Elizabeth Warren is giving people a new reason...  Vox
5   Nancy Pelosi is getting visions of reclaiming ...  Vox
9   The Republican Party characterizes itself as t...  Vox
10  Facebook, Amazon, Netflix and Google — the apt...  Vox
13  Sen. Tim Kaine made a point during the vice pr...  Vox

In [108]:
vox = vox[[11, 8]]

In [109]:
vox = vox.rename(columns = {11:"publication", 8: "content"})
vox

       publication                                            content
3              Vox  Elizabeth Warren is giving people a new reason...
5              Vox  Nancy Pelosi is getting visions of reclaiming ...
9              Vox  The Republican Party characterizes itself as t...
10             Vox  Facebook, Amazon, Netflix and Google — the apt...
13             Vox  Sen. Tim Kaine made a point during the vice pr...
...            ...                                                ...
935120         Vox  Finding the best ways to do good. For much of ...
935122         Vox  The House and Senate likely won’t return to Ca...
935124         Vox  Hello from The Goods’ twice-weekly newsletter!...
935125         Vox  Governors in several of the hardest-hit states...
935126         Vox  On Tuesday, the White House’s coronavirus task...

[16372 rows x 2 columns]

In [110]:
cnn = df1[df1["publication"] == "CNN"]
cnn

      publication                                            content
31584         CNN  Istanbul (CNN) At least 39 people were killed ...
31585         CNN  Atlanta (CNN) This season’s College Football P...
31586         CNN   (CNN) Revelers on the United States’ west coa...
31587         CNN  West Palm Beach, Florida (CNN)  Donald Trump s...
31588         CNN   (CNN) Two small planes collided in Texas on S...
...           ...                                                ...
43067         CNN   (CNN) Recently, Facebook CEO Mark Zuckerberg ...
43068         CNN   (CNN) Zachery Anderson was a    college stude...
43069         CNN   (CNN) It appears that the Malaysian governmen...
43070         CNN   (CNN) Natalia Molchanova, perhaps the most hi...
43071         CNN   (CNN) Recent news stories about cyberbullying...

[11488 rows x 2 columns]

In [111]:
left = pd.concat([cnn, vox])
left = left.rename(columns={"publication": "Publication", "content": "Content"})
left

       Publication                                            Content
31584          CNN  Istanbul (CNN) At least 39 people were killed ...
31585          CNN  Atlanta (CNN) This season’s College Football P...
31586          CNN   (CNN) Revelers on the United States’ west coa...
31587          CNN  West Palm Beach, Florida (CNN)  Donald Trump s...
31588          CNN   (CNN) Two small planes collided in Texas on S...
...            ...                                                ...
935120         Vox  Finding the best ways to do good. For much of ...
935122         Vox  The House and Senate likely won’t return to Ca...
935124         Vox  Hello from The Goods’ twice-weekly newsletter!...
935125         Vox  Governors in several of the hardest-hit states...
935126         Vox  On Tuesday, the White House’s coronavirus task...

[27860 rows x 2 columns]

In [112]:
left.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27860 entries, 31584 to 935126
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Publication  27860 non-null  object
 1   Content      27859 non-null  object
dtypes: object(2)
memory usage: 653.0+ KB

In [113]:
left["Bias"] = "Left"
left.reset_index(drop = True)

      Publication                                            Content  Bias
0             CNN  Istanbul (CNN) At least 39 people were killed ...  Left
1             CNN  Atlanta (CNN) This season’s College Football P...  Left
2             CNN   (CNN) Revelers on the United States’ west coa...  Left
3             CNN  West Palm Beach, Florida (CNN)  Donald Trump s...  Left
4             CNN   (CNN) Two small planes collided in Texas on S...  Left
...           ...                                                ...   ...
27855         Vox  Finding the best ways to do good. For much of ...  Left
27856         Vox  The House and Senate likely won’t return to Ca...  Left
27857         Vox  Hello from The Goods’ twice-weekly newsletter!...  Left
27858         Vox  Governors in several of the hardest-hit states...  Left
27859         Vox  On Tuesday, the White House’s coronavirus task...  Left

[27860 rows x 3 columns]

In [114]:
hill = pd.read_pickle("data/hill.pkl")
hill.head()

,index,0,1,2,3,4,5,6,7,8,9,10,11
0,588130,1680888.0,1680888,2016-10-07,2016,10.0,7,Nikita Vladimirov,Clinton camp blasts Trump in reaction to confi...,"""The world now knows, beyond the shadow of any...",https://thehill.com/blogs/ballot-box/president...,NaN,The Hill
1,588162,1680970.0,1680970,2017-04-12,2017,4.0,12,Nikita Vladimirov,Tillerson leaves press pool behind to meet Put...,Secretary of State Rex Tillerson reportedly ab...,https://thehill.com/policy/international/32852...,NaN,The Hill
2,588163,1680972.0,1680972,2017-01-18,2017,1.0,18,Lydia Wheeler,HHS rules aim to protect clinical trial partic...,The Obama administration finalized new rules W...,https://thehill.com/regulation/healthcare/3149...,NaN,The Hill
3,588164,1680978.0,1680978,2016-12-05,2016,12.0,5,Lanny J. Davis,A true purple moment: The time to pass the Int...,Congress has an opportunity to enact important...,https://thehill.com/blogs/pundits-blog/religio...,NaN,The Hill
4,588165,1680979.0,1680979,2017-06-23,2017,6.0,23,Brenda Shaffer,US gas exports not the elixir to European ener...,Efforts by the White House and Congress to acc...,https://thehill.com/blogs/pundits-blog/energy-...,NaN,The Hill

In [115]:
drop = [0, 1, 2, 3, 4, 5, 6, 7, 9, 10, "index"]
hill = hill.drop(drop, axis = 1)
hill

                                                       8        11
0      "The world now knows, beyond the shadow of any...  The Hill
1      Secretary of State Rex Tillerson reportedly ab...  The Hill
2      The Obama administration finalized new rules W...  The Hill
3      Congress has an opportunity to enact important...  The Hill
4      Efforts by the White House and Congress to acc...  The Hill
...                                                  ...       ...
16806  President Trump on Sunday told governors at th...  The Hill
16807  A subsidiary of China’s broadcasting regulator...  The Hill
16808  President Obama on Friday cautioned against ad...  The Hill
16809  I volunteered on the Clinton campaign in Flori...  The Hill
16810  Last month, the United Nations hosted a panel ...  The Hill

[16811 rows x 2 columns]

In [116]:
hill = hill[[11, 8]]

In [117]:
hill = hill.rename(columns = {11:"publication", 8: "content"})
hill

      publication                                            content
0        The Hill  "The world now knows, beyond the shadow of any...
1        The Hill  Secretary of State Rex Tillerson reportedly ab...
2        The Hill  The Obama administration finalized new rules W...
3        The Hill  Congress has an opportunity to enact important...
4        The Hill  Efforts by the White House and Congress to acc...
...           ...                                                ...
16806    The Hill  President Trump on Sunday told governors at th...
16807    The Hill  A subsidiary of China’s broadcasting regulator...
16808    The Hill  President Obama on Friday cautioned against ad...
16809    The Hill  I volunteered on the Clinton campaign in Flori...
16810    The Hill  Last month, the United Nations hosted a panel ...

[16811 rows x 2 columns]

In [118]:
hill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16811 entries, 0 to 16810
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   publication  16811 non-null  object
 1   content      16811 non-null  object
dtypes: object(2)
memory usage: 262.8+ KB

In [119]:
reuters =  df3[df3["publication"] == "Reuters"]
reuters

      publication                                            content
15800     Reuters   U. S.   Donald Trump on Friday praised Russia...
15801     Reuters   In small convoys of vehicles, Russians depart...
15802     Reuters   A gunman opened fire on New Year revelers at ...
15803     Reuters   Hundreds of thousands of merrymakers witnesse...
15804     Reuters   After a   rally fueled by the U. S. election ...
...           ...                                                ...
26505     Reuters  Net long bets on the dollar fell last week for...
26506     Reuters   Wall Street’s rally could be derailed by rene...
26507     Reuters   (Reuters Breakingviews)   Walt Disney may be ...
26508     Reuters   (Story refiled to correct date in paragraph 1...
26509     Reuters   European capitals tightened security on Frida...

[10710 rows x 2 columns]

In [120]:
center = pd.concat([reuters, hill])
center = center.rename(columns={"publication": "Publication", "content": "Content"})
center

      Publication                                            Content
15800     Reuters   U. S.   Donald Trump on Friday praised Russia...
15801     Reuters   In small convoys of vehicles, Russians depart...
15802     Reuters   A gunman opened fire on New Year revelers at ...
15803     Reuters   Hundreds of thousands of merrymakers witnesse...
15804     Reuters   After a   rally fueled by the U. S. election ...
...           ...                                                ...
16806    The Hill  President Trump on Sunday told governors at th...
16807    The Hill  A subsidiary of China’s broadcasting regulator...
16808    The Hill  President Obama on Friday cautioned against ad...
16809    The Hill  I volunteered on the Clinton campaign in Flori...
16810    The Hill  Last month, the United Nations hosted a panel ...

[27521 rows x 2 columns]

In [121]:
center["Bias"] = "Center"
center.reset_index(drop = True)

      Publication                                            Content    Bias
0         Reuters   U. S.   Donald Trump on Friday praised Russia...  Center
1         Reuters   In small convoys of vehicles, Russians depart...  Center
2         Reuters   A gunman opened fire on New Year revelers at ...  Center
3         Reuters   Hundreds of thousands of merrymakers witnesse...  Center
4         Reuters   After a   rally fueled by the U. S. election ...  Center
...           ...                                                ...     ...
27516    The Hill  President Trump on Sunday told governors at th...  Center
27517    The Hill  A subsidiary of China’s broadcasting regulator...  Center
27518    The Hill  President Obama on Friday cautioned against ad...  Center
27519    The Hill  I volunteered on the Clinton campaign in Flori...  Center
27520    The Hill  Last month, the United Nations hosted a panel ...  Center

[27521 rows x 3 columns]

In [122]:
breitbart = df1[df1["publication"] == "Breitbart"]
breitbart

      publication                                            content
7803    Breitbart  On Tuesday’s broadcast of CNN’s “Situation Roo...
7804    Breitbart  A group of American spring break revelers repo...
7805    Breitbart    “honour crimes” have risen by 40 per cent in...
7806    Breitbart  Former Breitbart Senior Editor MILO has announ...
7807    Breitbart  The focus of the continuous media reports of a...
...           ...                                                ...
31579   Breitbart  Democratic vice presidential candidate Tim Kai...
31580   Breitbart  2016 GOP presidential candidate and former Hew...
31581   Breitbart  Florida Republican Representative David Jolly ...
31582   Breitbart  While Hillary Clinton and her Democrats are tr...
31583   Breitbart  The day after the European Union (EU) Parliame...

[23781 rows x 2 columns]

In [123]:
review = df2[df2["publication"] == "National Review"]
review

           publication                                            content
21430  National Review  It was the key   debate of the 2016 election. ...
21431  National Review  Last winter, when the Republican presidential ...
21432  National Review  Viewing 2016 in retrospect  —   doing so is un...
21433  National Review  Editor’s note: This article first appeared on ...
21434  National Review  The U. S.  Israeli —  Palestinian “peace proce...
...                ...                                                ...
27628  National Review  I first read Thomas Sowell in college  —   no ...
27629  National Review  Whether it’s celebrated according to the Grego...
27630  National Review  Editor’s Note: This piece first appeared in th...
27631  National Review  Israel would seem to be in a disastrous positi...
27632  National Review  The year 2016 was a good one for books by men ...

[6203 rows x 2 columns]

In [124]:
right = pd.concat([breitbart, review])
right = right.rename(columns={"publication": "Publication", "content": "Content"})
right

           Publication                                            Content
7803         Breitbart  On Tuesday’s broadcast of CNN’s “Situation Roo...
7804         Breitbart  A group of American spring break revelers repo...
7805         Breitbart    “honour crimes” have risen by 40 per cent in...
7806         Breitbart  Former Breitbart Senior Editor MILO has announ...
7807         Breitbart  The focus of the continuous media reports of a...
...                ...                                                ...
27628  National Review  I first read Thomas Sowell in college  —   no ...
27629  National Review  Whether it’s celebrated according to the Grego...
27630  National Review  Editor’s Note: This piece first appeared in th...
27631  National Review  Israel would seem to be in a disastrous positi...
27632  National Review  The year 2016 was a good one for books by men ...

[29984 rows x 2 columns]

In [125]:
right["Bias"] = "Right"
right.reset_index(drop = True)

,Publication,Content,Bias
0,Breitbart,On Tuesday’s broadcast of CNN’s “Situation Roo...,Right
1,Breitbart,A group of American spring break revelers repo...,Right
2,Breitbart,“honour crimes” have risen by 40 per cent in...,Right
3,Breitbart,Former Breitbart Senior Editor MILO has announ...,Right
4,Breitbart,The focus of the continuous media reports of a...,Right
...,...,...,...
29979,National Review,I first read Thomas Sowell in college — no ...,Right
29980,National Review,Whether it’s celebrated according to the Grego...,Right
29981,National Review,Editor’s Note: This piece first appeared in th...,Right
29982,National Review,Israel would seem to be in a disastrous positi...,Right
29983,National Review,The year 2016 was a good one for books by men ...,Right

In [126]:
df = pd.concat([left, center, right]).reset_index(drop = True)
df

,Publication,Content,Bias
0,CNN,Istanbul (CNN) At least 39 people were killed ...,Left
1,CNN,Atlanta (CNN) This season’s College Football P...,Left
2,CNN,(CNN) Revelers on the United States’ west coa...,Left
3,CNN,"West Palm Beach, Florida (CNN) Donald Trump s...",Left
4,CNN,(CNN) Two small planes collided in Texas on S...,Left
...,...,...,...
85360,National Review,I first read Thomas Sowell in college — no ...,Right
85361,National Review,Whether it’s celebrated according to the Grego...,Right
85362,National Review,Editor’s Note: This piece first appeared in th...,Right
85363,National Review,Israel would seem to be in a disastrous positi...,Right
85364,National Review,The year 2016 was a good one for books by men ...,Right

In [145]:
df.to_pickle("data/df.pkl")